<footer>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
        <a asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
        <a asp-area="" asp-controller="News" asp-action="GetNews" asp-route-id="">Новости</a>
        <a asp-area="" asp-controller="Feedback" asp-action="Index">Обратная связь</a>
        <a asp-area="" asp-controller="About" asp-action="Index">О компании</a>
    </nav>
    <div class="logo">
        <a href="index.html"><img class="graficlogo" src="~/img/logo.png" alt="Logo"></a>
    </div>
    <p>
        @Config.CompanyName. 2022
    </p>
</footer>