<header>
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img class="graficlogo" src="~/img/logo.png" alt="Logo">
        </a>
    </div>
    <nav>
        <div class="topnav">
            <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="">Новости</a>
            <a asp-area="" asp-controller="Account" asp-action="Index">Аккаунт</a>
            <a asp-area="" asp-controller="About" asp-action="Index">О компании</a>
        </div>
    </nav>
</header>