@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@ViewBag.Title</h1>
    <div>
        <a asp-area="Admin" asp-controller="News" asp-action="Index">Редактировать новости</a><br />
        <a asp-area="Admin" asp-controller="PCParts" asp-action="Index">Редактировать данные о комплектующих</a><br />
        <a asp-area="Admin" asp-controller="TextFields" asp-action="Index">Редактировать страницы сайта</a><br />
    </div>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>